<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.staticfile.org/vue/2.4.2/vue.min.js"></script>
    <script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
</head>
<body>
<div id="button">
    <button v-on:click="get()">{{msg}}</button>
    <button v-on:click="getAllVendors()">{{msg}} 2</button>
    <table>
        <tbody>
        <tr v-for="vendor in vendors" :key="vendor.vendorId">
            <td>{{vendor.vendorId}}</td>
            <td>{{vendor.vendorName}}</td>
            <td>{{vendor.vendorDescrible}}</td>
        </tr>
        </tbody>
    </table>


</div>

<a href="/tests">普通的标签</a>
<a href="/vendors">普通的标签/vendors</a>

<div>

</div>
Index
<div id="inputTest">
    <input type="text" v-model="inputtestdata">
    <button v-on:click="inputtest()">点击我input</button>
    <p>{{msg}}</p>
</div>
<script>
    var test3 = new Vue(
        {
            el: "#inputTest",
            data: {
                msg:"请输入",
                inputtestdata: "123"
            },
            methods: {

                inputtest() {
                    console.log(test3.inputtestdata)
                    axios.post('/testInput', {testdata: test3.inputtestdata})
                        .then(response => {


                            if (response.status == 200) {
                                this.msg=response.data
                            } else {
                                alert("添加失败");
                            }

                        })
                        .catch(function (error) { // 请求失败处理
                            console.log(error);
                        })

                }


            }


        }
    )


    var button = new Vue(
        {
            el: '#button',
            data: {
                msg: "this is a button",
                vendors: [{vendorId: "1", vendorName: "apple", vendorDescrible: "ios"},
                    {
                        vendorId: "2",
                        vendorName: "huawei",
                        vendorDescrible: "p251"
                    }],

            },
            methods: {
                get: function () {
                    button.msg = "button pressed"
                    axios.get('/tests')
                        .then(response => (button.msg = response))
                        .catch(function (error) { // 请求失败处理
                            console.log(error);
                        })
                },

                getAllVendors() {
                    button.msg = "button pressed2"
                    axios.get('/vendors')
                        .then(response => {


                            if (response.status == 200) {
                                console.log(123)
                                button.vendors = response.data;
                                console.log(response.data)
                            } else {
                                alert("查询失败");
                            }


                        })
                        .catch(function (error) { // 请求失败处理
                            console.log(error);
                        })
                }
            }
        }
    )


</script>
</body>
</html>